output/cl_seqs.fasta
data/temp*
models/*
output/adpred_test/*
output/adpred_yeast/*
output/predictions/*
output/yeast_TFs_preds/tada/*
output/yeast_TFs_preds/composition/*
output/yeast_TFs_preds/yeast_TF/*
output/yeast_TFs_preds/PADDLE_noSS_yeast_TFs.csv
output/tiled_TFs_with_both_parrot_pred.csv
output/tiled_TFs_with_parrot_padd_pred.csv
data/TilingDFs
data/Controls_data.csv
data/tf_53_AA_parrot_paddle_pred.csv
data/tf_30_AA_parrot_erij_pred.csv
output/tada_pa_fix_yeast/features_scaled.pkl
output/tada_pa_fix_human/features_scaled.pkl
output/all_predictors_test/all_predictors_test_50/features_scaled.pkl
output/all_predictors_test/old/all_predictors_test_3/features_scaled.pkl
data/interpro_uniprot_evid_1_2_split_thirds/
output/dask_scripts_test/
output/interpro_uniprot_evid_1_2_dask/*
scripts/logs/*
output/adpred_on_unfinished_parts/*
notebooks/taxa.tab
data/CL_SK_input.fasta
output/mmseqs/CL_SK_DB
output/CL_SK_input.fasta
output/130k_all_preds.csv
output/interpro_uniprot_evid_1_2_seq_props.csv
output/cl_seqs_seq_props.csv
data/AGI2uniprot.txt
data/PlantTFDB-all_TF_pep.fas
data/PlantTFDB-all_TF_pep.fas.gz
output/mmseqs/
output/SK_CL_disord_input.fasta
output/plant_yeast_mammal_filtered.fasta
data/CL_SK_plant_input.fasta
data/CL_SK_plant_seqs_disord_thresh.fasta
output/CL_SK_plant_seq_props.csv
output/cl_seqs.fasta
output/train_test_to_cluster.fasta
data/train_seqs_with_test_overlap_removed.fasta
data/train_seqs_for_mmseqs_search.fasta       
