data/temp*
models/*
output/adpred_test/*
output/adpred_yeast/*
output/predictions/*
output/yeast_TFs_preds/tada/*
output/yeast_TFs_preds/composition/*
output/yeast_TFs_preds/yeast_TF/*
output/yeast_TFs_preds/PADDLE_noSS_yeast_TFs.csv
output/tiled_TFs_with_both_parrot_pred.csv
output/tiled_TFs_with_parrot_padd_pred.csv
data/TilingDFs
data/Controls_data.csv
data/tf_53_AA_parrot_paddle_pred.csv
data/tf_30_AA_parrot_erij_pred.csv
